:root {
  --color-primary: #eb2f64;
  --color-primary-light: #FF3366;
  --color-primary-dark: #BA265D;
  --color-grey-light-1: #faf9f9;
  --color-grey-light-2: #f4f2f2;
  --color-grey-light-3: #f0eeee;
  --color-grey-light-4: #ccc;
  --color-grey-dark-1: #333;
  --color-grey-dark-2: #777;
  --color-grey-dark-3: #999;
  --shadow-dark: 0 2rem 6rem rgba(0,0,0,.3);
  --shadow-light: 0 2rem 5rem rgba(0,0,0,.06);
  --line: 1px solid var(--color-grey-light-3); }

* {
  margin: 0;
  padding: 0; }

*,
*::after,
*::before {
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 56%; } }

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  line-height: 1.6;
  color: var(--color-grey-dark-2);
  background-image: linear-gradient(to right bottom, var(--color-primary-light), var(--color-primary-dark));
  background-size: cover;
  background-repeat: no-repeat; }

.logo {
  height: 3.25rem;
  margin-left: 2rem; }

.search {
  flex: 0 0 40%;
  display: flex;
  justify-content: center; }
  @media only screen and (max-width: 37.5em) {
    .search {
      order: 1;
      flex: 0 0 100%;
      background-color: var(--color-grey-light-2); } }
  .search__input {
    font-family: inherit;
    font-size: inherit;
    border: 0;
    border-radius: 10rem;
    background-color: var(--color-grey-light-2);
    width: 90%;
    margin-right: -3.25rem;
    padding: .7rem 2rem;
    transition: all .2s; }
    .search__input:focus {
      outline: none;
      width: 100%;
      background-color: var(--color-grey-light-3); }
    .search__input::-webkit-input-placeholder {
      font-weight: 100;
      color: var(--color-grey-light-4); }
  .search__input:focus + .search__button {
    background-color: var(--color-grey-light-3); }
  .search__button {
    border: none;
    background-color: var(--color-grey-light-2); }
  .search__icon {
    height: 2rem;
    width: 2rem;
    fill: var(--color-grey-dark-3); }

.user-nav {
  align-self: stretch;
  display: flex;
  align-items: center; }
  .user-nav > * {
    padding: 0 2rem;
    cursor: pointer;
    height: 100%;
    display: flex;
    align-items: center; }
  .user-nav > *:hover {
    background-color: var(--color-grey-light-3); }
  .user-nav__icon-box {
    position: relative; }
  .user-nav__icon {
    width: 2.5rem;
    height: 2.5rem;
    fill: var(--color-grey-dark-2); }
  .user-nav__notification {
    width: 1.7rem;
    height: 1.7rem;
    border-radius: 50%;
    color: #fff;
    font-size: .8rem;
    background-color: var(--color-primary);
    position: absolute;
    top: 1.5rem;
    right: 1.2rem;
    display: flex;
    align-items: center;
    justify-content: center; }
  .user-nav__user {
    font-size: 1.4rem; }
    .user-nav__user-photo {
      width: 3.5rem;
      height: 3.5rem;
      border-radius: 50%;
      margin-right: 1rem; }

.side-nav {
  font-size: 1.4rem;
  list-style: none;
  margin-top: 2rem; }
  @media only screen and (max-width: 56.25em) {
    .side-nav {
      margin-top: 0;
      display: flex; } }
  @media only screen and (max-width: 31.25em) {
    .side-nav {
      display: block; } }
  .side-nav__item {
    margin-bottom: .5rem;
    position: relative;
    display: flex;
    align-items: center; }
    @media only screen and (max-width: 56.25em) {
      .side-nav__item {
        margin-bottom: 0;
        flex: 1; } }
  .side-nav__item::before {
    content: '';
    transform: scaleY(0);
    background-color: var(--color-primary);
    position: absolute;
    height: 100%;
    width: 3%;
    transition: transform .2s, width .2s .4s; }
  .side-nav__item:hover::before, .side-nav__item--active::before {
    transform: scaleY(1);
    width: 100%; }
  .side-nav__item:active::before {
    background-color: var(--color-primary-light); }
  .side-nav__link:visited, .side-nav__link:link {
    text-decoration: none;
    text-transform: uppercase;
    padding: 1.5rem 3rem;
    color: var(--color-grey-light-1);
    position: relative;
    z-index: 10;
    width: 100%;
    display: flex;
    align-items: center; }
    @media only screen and (max-width: 37.5em) {
      .side-nav__link:visited, .side-nav__link:link {
        flex-direction: column; } }
  .side-nav__icon {
    width: 2rem;
    height: 2rem;
    fill: var(--color-grey-light-1);
    margin-right: 2rem; }
    @media only screen and (max-width: 37.5em) {
      .side-nav__icon {
        margin-right: 0;
        margin-bottom: .5rem;
        width: 1.8rem;
        height: 1.8rem; } }

.copy-right {
  font-size: 1.2rem;
  color: var(--color-grey-light-4);
  text-align: center;
  padding: 2.5rem; }
  @media only screen and (max-width: 56.25em) {
    .copy-right {
      display: none; } }

.gallery {
  display: flex; }
  .gallery__photo {
    width: 100%;
    display: block; }

.overview {
  display: flex;
  align-items: center;
  border-bottom: var(--line); }
  @media only screen and (max-width: 37.5em) {
    .overview {
      flex-wrap: wrap; } }
  .overview__heading {
    font-size: 2.25rem;
    letter-spacing: 1px;
    text-transform: uppercase;
    padding: 1.5rem 3rem;
    font-weight: 300; }
    @media only screen and (max-width: 56.25em) {
      .overview__heading {
        font-size: 1.5rem; } }
    @media only screen and (max-width: 37.5em) {
      .overview__heading {
        padding-bottom: .5rem; } }
  .overview__stars {
    margin-right: auto; }
    @media only screen and (max-width: 37.5em) {
      .overview__stars {
        order: 1;
        flex: 0 0 100%;
        padding: 0 3rem; } }
  .overview__icon-star, .overview__icon-location {
    width: 1.75rem;
    height: 1.75rem;
    fill: var(--color-primary); }
  .overview__icon-location {
    margin-right: .5rem; }
  .overview__location {
    font-size: 1.2rem;
    display: flex;
    align-items: center; }
    @media only screen and (max-width: 37.5em) {
      .overview__location {
        margin-left: auto; } }
    @media only screen and (max-width: 31.25em) {
      .overview__location {
        margin-left: auto; } }
  .overview__rating {
    padding: 0 3rem;
    align-self: stretch;
    background-color: var(--color-primary);
    color: #fff;
    margin-left: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; }
  .overview__rating-average {
    font-size: 2.25rem;
    font-weight: 300;
    margin-bottom: -3px; }

.btn-inline {
  background-color: transparent;
  font-size: inherit;
  border: none;
  color: var(--color-primary);
  border-bottom: 1px solid currentColor;
  padding-bottom: .5rem;
  cursor: pointer; }
  .btn-inline span {
    margin-left: 3px;
    transition: margin-left .2s; }
  .btn-inline:hover {
    color: var(--color-grey-dark-1); }
    .btn-inline:hover span {
      margin-left: 8px; }
  .btn-inline:focus {
    outline: none;
    animation: scaleShadow 1s infinite; }

@keyframes scaleShadow {
  0% {
    transform: scale(1);
    box-shadow: none; }
  50% {
    transform: scale(1.2);
    box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.4); }
  100% {
    transform: scale(1);
    box-shadow: none; } }

.description {
  flex: 0 0 60%;
  background-color: #fff;
  box-shadow: var(--shadow-light);
  padding: 3rem;
  margin-right: 4.5rem; }
  @media only screen and (max-width: 56.25em) {
    .description {
      margin-right: 0;
      margin-bottom: 3rem; } }

.paragraph:not(:last-of-type) {
  margin-bottom: 2rem; }

.list {
  list-style: none;
  margin: 3rem 0;
  padding: 3rem 0;
  border-top: var(--line);
  border-bottom: var(--line);
  display: flex;
  flex-wrap: wrap; }

.list__item {
  flex: 0 0 50%;
  margin-bottom: .7rem; }
  @media only screen and (max-width: 31.25em) {
    .list__item {
      flex: 0 0 100%;
      margin-bottom: .9rem; } }
  .list__item::before {
    content: "";
    display: inline-block;
    height: 1rem;
    width: 1rem;
    margin-right: 1rem;
    background-color: var(--color-primary);
    -webkit-mask-image: url(../img/chevron-thin-right.svg);
    -webkit-mask-size: cover;
    mask-image: url(../img/chevron-thin-right.svg);
    mask-size: cover; }

.recommend {
  display: flex;
  align-items: center; }
  .recommend__count {
    margin-right: auto;
    color: var(--color-grey-dark-3); }
  .recommend__photo {
    box-sizing: content-box;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    border: 3px solid #fff; }
    .recommend__photo:not(:last-child) {
      margin-right: -1.75rem; }

.review {
  background-color: #fff;
  box-shadow: var(--shadow-light);
  padding: 3.5rem;
  margin-bottom: 4.5rem;
  position: relative;
  overflow: hidden; }
  @media only screen and (max-width: 56.25em) {
    .review {
      margin-bottom: 3rem;
      width: 100%; } }
  .review__text {
    margin-bottom: 2rem;
    position: relative;
    z-index: 10; }
  .review__photo {
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    margin-right: 1.5rem; }
  .review__user {
    display: flex;
    align-items: center; }
  .review__user-box {
    margin-right: auto; }
  .review__user-name {
    font-size: 1.1rem;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: .4rem; }
  .review__user-date {
    font-size: 1rem;
    color: var(--color-grey-dark-3); }
  .review__rating {
    color: var(--color-primary);
    font-size: 2.2rem;
    font-weight: 300; }
  .review::before {
    content: "\201C";
    position: absolute;
    top: -2.75rem;
    left: -1rem;
    font-size: 20rem;
    color: var(--color-grey-light-2);
    line-height: 1;
    font-family: sans-serif;
    z-index: 1; }

.cta {
  padding: 3.5rem 0;
  text-align: center; }
  .cta__heading {
    font-size: 1.5rem;
    font-weight: 300;
    margin-bottom: 2rem; }

.btn {
  font-size: 1.5rem;
  border: none;
  width: 20rem;
  height: 6rem;
  border-radius: 10rem;
  background-image: linear-gradient(to right bottom, var(--color-primary-light), var(--color-primary-dark));
  color: #fff;
  text-transform: uppercase;
  line-height: 0;
  cursor: pointer;
  overflow: hidden; }
  .btn:focus {
    outline: none;
    animation: scaleShadow 1s infinite; }
  .btn::before {
    content: "Book now"; }
  .btn::after {
    content: "Only 4 rooms left";
    transform: translateY(-10rem); }
  .btn::before, .btn::after {
    text-transform: uppercase;
    display: inline-block;
    transition: all .2s; }
  .btn:hover {
    background-image: linear-gradient(to left top, var(--color-primary), var(--color-primary-dark)); }
  .btn:hover::before {
    transform: translateY(10rem); }
  .btn:hover::after {
    transform: translateY(0); }

.container {
  max-width: 120rem;
  margin: 8rem auto;
  background-color: var(--color-grey-light-2);
  box-shadow: var(--shadow-dark); }
  @media only screen and (max-width: 75em) {
    .container {
      margin: 0;
      width: 100%;
      max-width: 100%; } }

.header {
  font-size: 1.4rem;
  height: 7rem;
  background-color: #fff;
  border-bottom: var(--line);
  display: flex;
  justify-content: space-between;
  align-items: center; }
  @media only screen and (max-width: 37.5em) {
    .header {
      flex-wrap: wrap;
      align-content: space-around;
      height: 11rem; } }

.content {
  display: flex; }
  @media only screen and (max-width: 56.25em) {
    .content {
      flex-direction: column; } }

.sidebar {
  background-color: var(--color-grey-dark-1);
  flex: 0 0 18%;
  display: flex;
  flex-direction: column;
  justify-content: space-between; }

.hotel-view {
  flex: 1;
  background-color: #fff; }

.detail {
  font-size: 1.4rem;
  padding: 4.5rem;
  background-color: var(--color-grey-light-1);
  display: flex; }
  @media only screen and (max-width: 56.25em) {
    .detail {
      padding: 3rem;
      flex-direction: column; } }

.user-reviews {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center; }
